<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBC9eoURrppan0a8o62706FIBuYX-IxGSk</string>
	<key>GCM_SENDER_ID</key>
	<string>900970647877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>homeCode.GymManager</string>
	<key>PROJECT_ID</key>
	<string>gymmanager-1dafc</string>
	<key>STORAGE_BUCKET</key>
	<string>gymmanager-1dafc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900970647877:ios:48dd3d90c732992aa82e2c</string>
</dict>
</plist>